<form [formGroup]="formulario" (ngSubmit)="onAgregar()">
    <div class="p-5">
      <div class="mb-5">
        <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
        <input type="text" id="nombre" formControlName="nombre"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Producto 1" required />
      </div>
      <div class="mb-5">
        <label for="peso" class="block mb-2 text-sm font-medium text-gray-900">Peso</label>
        <input type="number" id="peso" formControlName="peso" min="0"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="200" required />
      </div>
      <div class="mb-5">
        <label for="calorias" class="block mb-2 text-sm font-medium text-gray-900">Calorías</label>
        <input type="number" id="calorias" formControlName="calorias" min="0"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="500" required />
      </div>
      
      <div class="flex justify-between">
        <button class="bg-gray-500 hover:bg-gray-600 p-3 text-white rounded-lg" (click)="onCancelar()" type="button">Cancelar</button>
        <button  class="bg-green-500 hover:bg-green-600 p-3 text-white rounded-lg" [disabled]="formulario.invalid" type="submit">Agregar</button>
      </div>
    </div>
  </form>
  